.rgp-error-layout {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.rgp-error-layout .rgp-error-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.rgp-error-layout .rgp-error-media-content {
    max-width: 100%;
}
