.rgp * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.rgp-gif-picker {
    min-width: 150px;
    max-width: 500px;
}

.rgp-search-bar-container {
    padding: 0.5rem;
}

.rgp-divider {
    min-height: 1px;
}

.rgp-display-result-container {
    display: flex;
    justify-content: center;
}
