.rgp-loader {
    --scrollbar-color: #fff;
    --no-columns: 4;
    width: 100%;
    overflow-x: hidden;
}

.rgp-loader .rgp-loader-container {
    display: grid;
    grid-template-columns: repeat(var(--no-columns), 1fr);
    padding: 1rem;
    gap: 1rem;
}

.rgp-loader::-webkit-scrollbar {
    width: 4px;
}

.rgp-loader::-webkit-scrollbar-track {
    background: transparent;
}

.rgp-loader::-webkit-scrollbar-thumb {
    background: var(--scrollbar-color);
}
